services:
  database:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', '$POSTGRES_USER']
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest_app
    ports:
      - '3000:3000'
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - .env
